#gamefield {
  width: 1024px;
  height: 768px;
  background: url('../images/board/background.jpg') no-repeat;
  position: absolute;
  left: 300px;
  top: 20px;
  display: none;

  #status {
    position: absolute;
    right: 0;
    top: 0;
    width: 224px;
    height: 385px;

    .t {
      font-size: 0.65em;

      td {
        padding: 2px 5px;
      }
    }
  }

  #selection {

  }

  #board {
    position: relative;
    width: 512px;
    height: 768px;
    left: 256px;
    top: 0;
    overflow: hidden;

    .tile {
      width: 64px;
      height: 64px;
      float: left;
    }

    .tile.hover {
      background: rgba(200,65,115,0.2);
    }

    .tile.available {
      background: rgba(0,200,0,0.5);
    }
  }

  .box-header {
    padding: 5px;
    border-bottom: 1px solid #BBB;
    font-size: 0.8em;
    letter-spacing: 1px;
    font-weight: bold;
  }
}
