#gamefield {
  width: 1024px;
  height: 768px;
  background: url("../images/board/background.jpg") no-repeat;
  margin: 20px auto 0;
  position: relative; }
  #gamefield #status {
    position: absolute;
    right: 0;
    top: 0;
    width: 224px;
    height: 385px; }
    #gamefield #status .t {
      font-size: 0.65em; }
      #gamefield #status .t td {
        padding: 2px 5px; }
  #gamefield #board {
    position: relative;
    width: 512px;
    height: 768px;
    left: 256px;
    top: 0;
    overflow: hidden; }
    #gamefield #board .tile {
      width: 64px;
      height: 64px;
      float: left; }
    #gamefield #board .tile.hover {
      background: rgba(200, 65, 115, 0.2); }
    #gamefield #board .tile.available {
      background: rgba(0, 200, 0, 0.5); }
  #gamefield .box-header {
    padding: 5px;
    border-bottom: 1px solid #BBB;
    font-size: 0.8em;
    letter-spacing: 1px;
    font-weight: bold; }
