#listplayers {
  width: 175px;
  height: 100%;
  overflow: scroll;
  position: fixed; }
  #listplayers ul {
    list-style-type: none; }
    #listplayers ul li {
      position: relative;
      padding: 4px 8px;
      border-bottom: 1px solid #ccc;
      background: #666;
      color: #ddd;
      cursor: pointer;
      font-size: 0.8em; }
    #listplayers ul li:hover {
      background: #444; }
    #listplayers ul li span {
      display: none;
      position: absolute;
      font-size: 0.7em;
      width: 64px;
      right: 6px;
      top: 6px; }
    #listplayers ul li:hover span {
      display: block; }
